.user-editor {
    display: grid;
    width: 100%;
    grid-gap: 10px;
}

.user-editor_content {
    display: grid;
}

.user-editor__input {
    display: flex;
    justify-self: center;
    padding: 5px;
    font-size: 18px;
    line-height: 20px;
    cursor: pointer;
}

.user-editor_radio {
    display: grid;
    justify-content: center;
    grid-template-columns: 1fr 1fr;
}

.user-editor__label {
    display: flex;
    align-items: center;
}

.user-editor__button {
    cursor: pointer;
    border: none;
    background-color: skyblue;
    padding: 10px;
    font-size: 15px;
    font-weight: 600;
    max-height: 50px;
    border-radius: 12px;
}

.user-editor__button:disabled {
    cursor: not-allowed;
}

.user-editor__button:nth-of-type(1) {
    background-color: lightseagreen;
    color: white;
}

.user-editor__button:nth-of-type(2) {
    background-color: darkgrey;
    color: black;
}