.users {
    display: grid;
    grid-gap: 30px;
    padding: 40px;
}

.users__template {
    max-height: 600px;
    overflow: auto;
}

.users__header {
    display: grid;
    text-align: center;
    margin: 0;
    font-size: 35px;
    color: #ffffff;
    text-transform: uppercase;
}

.user {
    display: grid;
    color: black;
    text-decoration: none;
    margin: 10px;
}

.user__wrapper {
    border: 10px solid cornflowerblue;
    padding: 10px;
    display: grid;
    grid-gap: 10px;
    text-transform: capitalize;
    min-height: 300px;
}

.user__link {
    text-decoration: none;
    color: inherit;
}

.user__link:hover {
    background-color: #FFFF00FF;
}

.user__link .user__listItem:nth-of-type(1) {
    background-color: #73d2de;
    border-radius: 5px;
}

.user__link .user__listItem:nth-of-type(1):hover {
    background-color: #8ac926;
}

.user__button {
    cursor: pointer;
    border: none;
    padding: 10px;
    font-size: 15px;
    font-weight: 600;
    max-height: 50px;
    border-radius: 12px;
    min-width: 70%;
    justify-self: center;
}

.user__button_confirm {
    justify-self: end;
    background-color: #90EE90FF;
}

.user__button_cancel {
    justify-self: start;
}
