.user-card {
    background-color: #ffffff;
    margin-top: 30px;
    border-radius: 10px;
    display: grid;
    grid-gap: 10px;
    justify-self: center;
    min-width: 320px;
    max-width: 660px;
}

.user-card__info {
    font-size: 20px;
}