.users {
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    grid-gap: 10px;
}

.user {
    display: grid;
    border: 3px solid coral;
    padding: 10px;
}