.filters {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    background-color: white;

}

.filters__search-label {
    display: grid;
    grid-template-rows: 0.5fr 1fr;
    max-width: 200px;
}

.filters__search-input {
    height: 30px;
    line-height: 30px;
    font-size: 20px;
}

div .filters__clear-button {
    max-width: 200px;
    justify-self: right;
    margin-right: 20px;
}

.filters__clear-button .MuiButtonBase-root {
    background-color: mediumpurple;
}