.filters {
    background-color: #1aa7ec;
    padding: 10px;
    border-radius: 10px;
}

.filters__filter {
    display: grid;
    align-items: center;
}

.filters__filter_wrapper {
    width: 100%;
    height: 100%;
    display: grid;
    justify-content: center;
    align-items: center;
}

.filters__search-label {

}

.filters__search-input {
    height: 30px;
    line-height: 30px;
    font-size: 20px;
}

.filters__search-input::placeholder {
    color: white;
}

.filter__select {
    width: 200px;
    background-color: white;
    height: 50px;
}