.admin {
    display: grid;
    grid-gap: 20px;
    max-width: 600px;
    background-color: white;
    padding: 20px;
    justify-self: center;
    margin-top: 100px;
    border-radius: 10px;
}

.admin__input {
    margin-left: 20px;
}

.admin__select {
    width: 200px;
    background-color: white;
    height: 50px;
}